// _variables.scss
$primary-color: #4CAF50;
$secondary-color: #f4f4f4;
$accent-color: #ffff00;
$text-color: #0f3b50;
$font-family-base: 'webroboto', sans-serif;
$font-family-title: 'titulorubik', sans-serif;
$font-family-noti: 'New Amsterdam', sans-serif;
$font-family-article: 'Anton', sans-serif;