* {
  box-sizing: border-box;
  font-family: "webroboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-size: 1rem;
  color: #150137;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #ddf100;
}

body {
  font-family: "webroboto", sans-serif;
  color: #10002c;
  background-color: #f5f5f5;
}

h1.title {
  font-family: "titulorubik", sans-serif;
  font-size: 6rem;
  color: #150137;
}

h2.subtitle {
  font-family: "New Amsterdam", sans-serif;
  font-size: 3rem;
  color: #10002c;
}

.subtitle-2 {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
}

.card {
  border: 1px solid #12024f;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  height: auto;
}
.card .card-content {
  padding: 15px;
}
.card .card-title {
  font-family: "Sniglet", system-ui;
  font-size: 1.25rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}
.card .card-text {
  font-family: "Sniglet", system-ui;
  font-size: 1rem;
  color: #10002c;
  margin-bottom: 1rem;
}

.critica .row {
  margin: 0;
}
.critica .col-md-4,
.critica .col-md-8 {
  padding: 0;
}
.critica .critica-info {
  background-color: #3b039b;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.critica .critica-info h2 {
  font-size: 3rem;
  color: #10002c;
  margin-bottom: 0.5rem;
  font-family: "titulorubik", sans-serif;
}
.critica .critica-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: #10002c;
  margin-bottom: 0.5rem;
  font-family: "webroboto", sans-serif;
}
.critica .critica-info .rating-section .rating-container {
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.critica .critica-info .rating-section .rating-container .rating {
  font-size: 1rem;
  color: #10002c;
}
.critica .critica-info .rating-section .rating-container .rating .stars {
  color: #00be46;
}
.critica .critica-contenido h2 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #10002c;
  font-family: "titulorubik", sans-serif;
}
.critica .critica-contenido p {
  font-size: 1rem;
  line-height: 1.5;
  color: #10002c;
  margin-bottom: 1rem;
  font-family: "webroboto", sans-serif;
}
.critica .critica-contenido ul {
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #10002c;
  margin-bottom: 1rem;
}
.critica .critica-contenido ul li {
  margin-bottom: 0.5rem;
}
.critica .puntuacion {
  background-color: #c0e102;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #10002c;
  font-family: "webroboto", sans-serif;
}

aside {
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
aside h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #10002c;
  font-family: "Sniglet", system-ui;
}
aside form {
  margin-bottom: 1rem;
}
aside .ranking-container {
  margin-top: 0.5rem;
}
aside .ranking-container .ranking {
  font-size: 1rem;
  color: #10002c;
  font-family: "titulorubik", sans-serif;
}
aside .ranking-container .top {
  list-style-type: decimal;
  padding-left: 1rem;
}
aside .ranking-container a {
  color: #150137;
  text-decoration: none;
}
aside .ranking-container a:hover {
  text-decoration: underline;
}

form label {
  font-size: 1rem;
}
form select {
  font-size: 1rem;
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border: 1px solid #351515;
  padding: 1rem;
  border-radius: 0.5rem;
}
.review-item img {
  max-width: 100%;
  height: 20rem;
}
.review-item .font-critica {
  font-family: "Sniglet", system-ui;
  font-size: 1rem;
  font-weight: bolder;
  color: #00015a;
}

.ranking-container {
  padding-top: 1rem;
}
.ranking-container .ranking {
  text-transform: capitalize;
  font-family: "New Amsterdam", sans-serif;
  font-size: 3rem;
}
.ranking-container .top {
  font-size: 1rem;
}

.card {
  width: 18rem;
  margin-bottom: 20px;
  border: 1px solid #00be46;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.card .image-container {
  height: 20rem;
  overflow: hidden;
}
.card .image-container .imagecritica {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card-body {
  padding: 1rem;
}
.card .card-body .card-text {
  font-size: 1rem;
}
.card .card-body .card-title {
  font-size: 1.25rem;
  font-family: "titulorubik", sans-serif;
}

.flex-con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer.bg-dark {
  background-color: #f1f1f1;
  color: #060404;
  padding: 1rem 0;
}
footer .logofooter {
  border-radius: 50%;
  max-width: 150px;
  margin: 1rem;
}
footer .redcontainer {
  margin-top: 3rem;
  text-align: center;
}
footer .red {
  font-weight: bold;
  text-align: center;
}
footer .Copyright {
  font-size: 1rem;
}
footer .navega a {
  margin-right: 1rem;
}
footer .navega a img {
  max-width: 20px;
}
footer .criticas-footer {
  background-color: black;
  color: #000986;
  padding: 2rem 1rem;
}
footer .criticas-footer .logofooter {
  max-width: 150px;
  margin: 1rem auto;
  width: 2rem;
}
footer .criticas-footer .redcontainer {
  text-align: center;
  margin-top: 1.5rem;
}
footer .criticas-footer .redcontainer .Copyright {
  font-size: 1rem;
}
footer .criticas-footer .redcontainer .red {
  font-weight: bold;
  margin: 1rem 0;
}
footer .criticas-footer .navega a {
  margin: 0 0.5rem;
}
footer .criticas-footer .navega a img {
  width: 2rem;
  height: auto;
  transition: opacity 0.8s;
}
footer .criticas-footer .navega a:hover img {
  opacity: 0.8;
}

header {
  background: url("../img/pv.jpg") no-repeat center center;
  background-size: cover;
  padding: 1rem;
}
header .logo {
  width: 10rem;
  border-radius: 50%;
  margin: 2rem 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .nav-link {
  font-size: 1rem;
  color: #000986;
  transition: color 0.5s;
}
header nav .nav-link:hover {
  color: #ddf100;
}

.pagina-especifica header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.pagina-especifica header .logo {
  height: auto;
  width: 8rem;
}
.pagina-especifica header .navbar {
  position: fixed;
  right: 1rem;
  top: 0;
  transform: translateY(1rem);
  background: rgba(253, 252, 252, 0.9);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.pagina-especifica header .navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pagina-especifica header .navbar-nav .nav-link {
  color: #050404;
  font-family: "webroboto", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.1s;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: transparent;
}
.pagina-especifica header .navbar-nav .nav-link:hover {
  color: #ddf100;
  background-color: #3b039b;
}

@media (max-width: 768px) {
  .pagina-especifica header {
    padding: 0.5rem 1rem;
  }
  .pagina-especifica header .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .pagina-especifica header .navbar {
    position: fixed;
    width: 100%;
    font-size: 0.75rem;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
  .pagina-especifica header .navbar-nav {
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }
  .pagina-especifica header .navbar-nav .nav-link {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    text-align: center;
  }
}
.pagina-noticias header .navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pagina-noticias header .navbar-nav {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.pagina-noticias main {
  padding: 2rem;
  background-color: #ffffff;
  color: #10002c;
}
.pagina-noticias main .news-header {
  font-size: 3rem;
  font-family: "Sniglet", system-ui;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #150137;
}
.pagina-noticias main section {
  margin-bottom: 2rem;
}
.pagina-noticias main section h2 {
  font-size: 3rem;
  color: black;
  margin-bottom: 1rem;
}
.pagina-noticias main section p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "titulorubik", sans-serif;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
}

.subtitle {
  font-size: 3rem;
  text-transform: capitalize;
  font-family: "webroboto", sans-serif;
  margin: 2rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.trailercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article h3 {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.font-noti h3 {
  color: #00be46 font-size 1rem;
}

.font-noti {
  color: #151212;
  font-size: 1rem;
  font-family: "Anton", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.font-critica {
  font-family: "New Amsterdam", sans-serif;
  font-weight: bolder;
  color: #1382b6;
}

.valoracion {
  position: relative;
  display: inline-block;
}
.valoracion input {
  position: absolute;
  opacity: 0;
}
.valoracion label {
  float: right;
  color: #c1b8b8;
  font-size: 30px;
}
.valoracion label:hover, .valoracion label:hover ~ label,
.valoracion label input:checked ~ label {
  color: #ffff00;
}

.formulario {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.textarea {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100%;
}

textarea {
  height: 25rem;
  width: 50rem;
}

.formletter {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.formletter label {
  display: flex;
  flex: 1;
  margin-right: 0, 5rem;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.formletter input,
.formletter textarea {
  flex: 1;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contbutom {
  background-color: #00be46;
  color: rgb(36, 2, 159);
  border: none;
  padding: 5px 5px;
  font-size: 16px;
  width: 20%;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 2rem;
}

.trailer p {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.trailer {
  margin: 0;
  padding: 0;
}

.trailer iframe {
  border-radius: 2rem;
}

.review-item {
  border: 1px solid #151212;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
}
.review-item img {
  max-width: 100%;
  height: auto;
}

.link {
  color: #0a033d;
  text-decoration: none;
  font-size: 1rem;
}
.link:hover {
  text-decoration: underline;
  color: #ddf100;
}

.trailerflex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

body {
  font-size: 1rem;
}
@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  h1.title {
    font-size: 5px;
    padding: 5px;
    margin: 5px 0;
    white-space: normal;
  }
  .subtitle-2 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  h1.title {
    font-size: 2rem;
    height: auto;
    padding: 10px;
    margin: 10px 0;
    white-space: normal;
  }
  .subtitle-2 {
    font-size: 1rem;
    white-space: normal;
  }
}
@media (max-width: 480px) and (max-width: 768px) {
  .criticas-footer .redcontainer {
    text-align: center;
  }
  .criticas-footer .navega {
    flex-direction: column;
  }
  .criticas-footer .navega a {
    margin: 0.5rem 0;
  }
}
.pagina-noticias footer {
  background-color: black;
  color: #000986;
}
.pagina-noticias footer .container .redcontainer .Copyright {
  font-size: 0.75rem;
}
.pagina-noticias footer .container .redcontainer .red {
  font-size: 1rem;
}
.pagina-noticias footer .container .redcontainer .navega {
  justify-content: center;
}

@font-face {
  font-family: "WebRoboto";
  src: url("../tipografia/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TituloRubik";
  src: url("../tipografia/RubikVinyl-Regular.ttf") format("truetype");
}

/*# sourceMappingURL=styles.css.map */
