@font-face {
  font-family: "webroboto";
  src: url("../tipografia/Roboto-Regular.ttf");
}
@font-face {
  font-family: "titulorubik";
  src: url("../tipografia/RubikVinyl-Regular.ttf");
}
@font-face {
  font-family: "Sniglet";
  src: url("../tipografia/Sniglet-Regular.ttf");
}
* {
  box-sizing: border-box;
  font-family: "webroboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: red;
}

.font-noti {
  color: #ffff00;
  font-size: 2rem;
  font-family: "New Amsterdam", sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
}

.noti {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-left: 3rem;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.carousel .carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel .carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}
.carousel .carousel-item img {
  width: 100%;
  height: 25rem;
  object-fit: initial;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transform: translateY(-50%);
}
.carousel .carousel-control-prev:focus, .carousel .carousel-control-prev:hover,
.carousel .carousel-control-next:focus,
.carousel .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.carousel .carousel-control-prev-prev,
.carousel .carousel-control-next-prev {
  left: 10px;
}
.carousel .carousel-control-prev-next,
.carousel .carousel-control-next-next {
  right: 10px;
}
.carousel .carousel-indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.carousel .carousel-indicators .carousel-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.carousel .carousel-indicators .carousel-indicator.active {
  background-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.btn:hover {
  background-color: black;
  color: #fbefef;
}
.btn:focus {
  outline: 2px solid black;
}

header {
  background: url("../img/pv.jpg") no-repeat center center;
  background-size: cover;
  padding: 1rem;
}
header .logo {
  width: 10rem;
  border-radius: 50%;
  margin: 2rem 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.criticas-pagina header {
  background: #001a57;
  background-size: cover;
}
.criticas-pagina header .logo {
  width: 3rem;
}
.criticas-pagina header .navbar-expand-lg {
  background-color: #712626;
}
.criticas-pagina header .navbar .navbar-nav .nav-link {
  color: #722424;
}
.criticas-pagina header .navbar .navbar-nav .nav-link:hover {
  color: #110f0f;
}
.criticas-pagina main {
  margin-top: 2rem;
}

footer.bg-dark {
  background-color: #f1f1f1;
  color: #333;
  padding: 1rem 0;
}
footer .logofooter {
  border-radius: 50%;
  max-width: 150px;
  margin: 1rem;
}
footer .redcontainer {
  margin-top: 3rem;
  text-align: center;
}
footer .red {
  font-weight: bold;
  text-align: center;
}
footer .Copyright {
  font-size: 1rem;
}
footer .navega a {
  margin-right: 1rem;
}
footer .navega a img {
  max-width: 50px;
}
footer.criticas-footer {
  background-color: #111;
  color: #ccc;
}
footer.criticas-footer .logofooter {
  max-width: 120px;
}
footer.criticas-footer .redcontainer {
  margin-top: 2rem;
}
footer.criticas-footer .red {
  font-weight: bold;
  text-align: center;
}
footer.criticas-footer .Copyright {
  font-size: 0.9rem;
}
footer.criticas-footer .navega a {
  margin-right: 0.5rem;
}
footer.criticas-footer .navega a img {
  max-width: 40px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  height: auto;
}
.card .card-content {
  padding: 15px;
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 0.5rem;
}
.review-item img {
  max-width: 100%;
  height: auto;
}
.review-item .font-critica {
  font-family: "New Amsterdam", sans-serif;
  font-weight: bolder;
  color: #0f3b50;
}
.review-item .font-noti {
  color: #ffff00;
  font-size: 2rem;
  font-family: "New Amsterdam", sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
}

.ranking-container {
  padding-top: 1rem;
}
.ranking-container .ranking {
  text-decoration: underline;
  text-transform: capitalize;
  font-family: cursive;
  font-size: medium;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    padding: 15px;
    margin: 15px 0;
  }
}
@media (max-width: 480px) {
  .title {
    padding: 10px;
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .carousel-item {
    min-width: 100%;
  }
}
.trailer {
  margin: 0;
  padding: 0;
}
.trailer iframe {
  border-radius: 1rem;
}
.trailer p {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.trailerflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.valoracion {
  position: relative;
  display: inline-block;
}
.valoracion input {
  position: absolute;
  opacity: 0;
}
.valoracion label {
  float: right;
  color: #c1b8b8;
  font-size: 30px;
}
.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
  color: #ffff00;
}

.formulario {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.textarea {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 25rem;
  width: 50rem;
  display: flex;
  justify-content: end;
}

.formletter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.formletter label {
  display: flex;
  flex: 1;
  margin-right: 10px;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.formletter input,
.formletter textarea {
  flex: 1;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contbutom {
  background-color: #3498db;
  color: #2ecc71;
  border: none;
  padding: 5px 5px;
  font-size: 16px;
  width: 20%;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=styles.css.map */
