.card {
    background-color: #924949;
    border: 1px solid #220588;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        height: auto;
    }

    .card-content {
        padding: 15px;

    }
    .card-title {
        font-family: $font-noti;
        font-size: $card-title-font-size;
        font-weight: bolder;
       
        margin-bottom: 0.5rem;
      }
  
      .card-text {
        font-family: $font-noti;
        font-size: $card-text-font-size;

        color: $text-color;
        margin-bottom: 1rem;
      }
  
}

