.critica {
    .row {
      margin: 0; 
    }
  
    .col-md-4,
    .col-md-8 {
      padding: 0; 
    }
  
    .critica-info {
      background-color: $primary-light; 
      padding: 1rem; 
      border-radius: 0.5rem; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      margin-bottom: 1rem; 
  
      h2 {
        font-size: $font-size-medium; 
        color: $text-color; 
        margin-bottom: 0.5rem; 
        font-family: $font-heading; 
      }
  
      p {
        font-size: $font-size-small; 
        line-height: 1.5; 
        color: $text-color; 
        margin-bottom: 0.5rem; 
        font-family: $font-main; 
      }
  
      .rating-section {
        .rating-container {
          
          padding: 0.5rem; 
          border-radius: 0.3rem; 
  
          .rating {
            font-size: $font-size-small; 
            color: $text-color; 
  
            .stars {
              color: $secondary-color; 
            }
          }
        }
      }
    }
  
    .critica-contenido {
      h2 {
        font-size: $font-size-medium; 
        margin-top: 1rem; 
        margin-bottom: 0.5rem; 
        color: $text-color; 
        font-family: $font-heading; 
      }
  
      p {
        font-size: $font-size-small; 
        line-height: 1.5; 
        color: $text-color; 
        margin-bottom: 1rem; 
        font-family: $font-main; 
      }
  
      ul {
        padding-left: 1.5rem; 
        font-size: $font-size-small; 
        color: $text-color; 
        margin-bottom: 1rem;
  
        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  
    .puntuacion {
      background-color: #c0e102; 
      padding: 1rem; 
      border-radius: 0.5rem; 
      font-size: $font-size-small; 
      color: $text-color; 
      font-family: $font-main;
    }
}
aside {
   
    padding: 0.5rem;
    border-radius: 0.5rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
    h2 {
      font-size: $font-size-medium; 
      margin-bottom: 0.5rem; 
      color: $text-color; 
      font-family: $font-noti; 
    }
  
    form {
      margin-bottom: 1rem; 
    }
  
    .ranking-container {
      margin-top: 0.5rem; 
  
      .ranking {
        font-size: $font-size-small; 
        color: $text-color; 
        font-family: $font-heading; 
      }
  
      .top {
        list-style-type: decimal; 
        padding-left: 1rem; 
      }
  
      a {
        color: $primary-color; 
        text-decoration: none; 
        &:hover {
          text-decoration: underline; 
        }
      }
    }
  }
  
  
  form {
    label {
      font-size: $font-size-small; 
    }
  
    select {
      font-size: $font-size-small; 
    }
  }
  .review-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: 1px solid #351515;
    padding: 1rem;
    border-radius: 0.5rem;

    img {
        max-width: 100%;
        height: 20rem;
    }

    .font-critica {
        font-family: $font-noti;
        font-size: $font-size-small;
        font-weight: bolder;
        color: #00015a;
    }


}

.ranking-container {
    padding-top: 1rem;

    .ranking {
        
        text-transform: capitalize;
        font-family: $font-new-amsterdam;
        font-size: $font-size-medium;
         
    }
    .top{
        font-size: $font-size-small
    }
}
.card {
  width: 18rem;
  margin-bottom: 20px;
  border: 1px solid $secondary-color;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  .image-container {
    height: $carousel-img-height; // Altura de las imágenes
    overflow: hidden;

    .imagecritica {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    padding: 1rem;

    .card-text {
      font-size: $card-text-font-size;
    }

    .card-title {
      font-size: $card-title-font-size;
      font-family: $font-heading;
    }
  }
}
.flex-con{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
