%title-style {
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 0 auto;
  }
  
  %subtitle-style {
    font-size: 3rem;
    text-transform: capitalize;
    margin: 2rem;
    overflow-wrap: break-word;
    word-break: break-word;
  }