header {
    background: url('../img/pv.jpg') no-repeat center center;
    background-size: cover;
    padding: 1rem;

    .logo {
        width: 10rem;
        border-radius: 50%;
        margin: 2rem 0;
        font-size: 1.5rem;
        @include center-flex;
    }
}

.title {
    font-size: $font-size-large;
    text-transform: uppercase;
    font-family: $font-heading;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 0 auto;

    @include responsive-font($font-size-large);
}

.subtitle {
    font-size: $font-size-medium;
    text-transform: capitalize;
    font-family: $font-main;
    margin: 2rem;
    overflow-wrap: break-word;
    word-break: break-word;
}
