header {
    background: url('../img/pv.jpg') no-repeat center center;
    background-size: cover;
    padding: 1rem;

    .logo {
        width: 10rem;
        border-radius: 50%;
        margin: 2rem 0;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Estilos específicos para la página de "Crisis en Tierras Infinitas"
.criticas-pagina {
    header {
        background: #001a57; // Esto debería sobrescribir el fondo de imagen
        background-size: cover; // Asegúrate de que este ajuste no esté causando problemas

        .logo {
            width: 3rem;
        }

        .navbar {
            &-expand-lg {
                background-color: #712626;
                // No uses position: fixed para que el navbar se mueva con el scroll
            }

            .navbar-nav {
                .nav-link {
                    color: #722424;

                    &:hover {
                        color: #110f0f;
                    }
                }
            }
        }
    }

    main {
        margin-top: 2rem; // Ajusta según la altura del navbar si es necesario
    }
}

