.pagina-noticias {
    main {
        padding: 2rem;
        background-color: #ffffff;
        color: $text-color;

        .news-header {
            font-size: $font-size-medium;
            font-family: $font-noti;
            margin-bottom: 1.5rem;
            text-align: center;
            color: $primary-color;
        }

        section {
            margin-bottom: 2rem;

            h2 {
                font-size: $font-size-medium;
                color: $primary-dark;
                margin-bottom: 1rem;
            }

            p {
                font-size: $font-size-small;
                line-height: 1.6;
                margin-bottom: 1rem;
            }
        }
    }
}