@import 'variable';
@import 'mixins';

.title {
  font-size: $font-size-large;
  text-transform: uppercase;
  font-family: $font-heading;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
}

.subtitle {
  font-size: $font-size-medium;
  text-transform: capitalize;
  font-family: $font-main;
  margin: 2rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.carousel-item img {
  object-fit: initial;
  height: $carousel-img-height;
  width: 100%;
}

.trailercontainer {
  @include center-content;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article h3 {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: $font-anton;
  font-weight: bold;
  font-style: normal;
}
.font-noti h3{
  color: $secondary-color
  font-size $font-size-small;
  }
.font-noti {
  color:#151212;
 
  font-size: $font-size-small; 
  font-family: $font-anton;
  font-weight: bolder;
  text-transform: uppercase;
}
.font-critica {
  font-family: $font-new-amsterdam;
  font-weight: bolder;
  color: #0f3b50;
}

.valoracion {
  position: relative;
  display: inline-block;

  input {
    position: absolute;
    opacity: 0;
  }

  label {
    float: right;
    color: #c1b8b8;
    font-size: 30px;

    &:hover,
    &:hover~label,
    input:checked~label {
      color: #ffff00;
    }
  }
}

.formulario {
  font-size: $font-size-small;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.textarea {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100%;
}

textarea {
  height: 25rem;
  width: 50rem;
}

.formletter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label {
    display: flex;
    flex: 1;
    margin-right: 10px;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  input,
  textarea {
    flex: 1;
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.contbutom {
  background-color: $secondary-color;
  color: white;
  border: none;
  padding: 5px 5px;
  font-size: 16px;
  width: 20%;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 2rem;
}

.trailer p {
  font-size: $font-size-small;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.trailer {
  margin: 0;
  padding: 0;
}

.trailer iframe {
  @include border-radius(2rem);
}

.review-item {
  border: 1px solid #151212;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;

  img {
    max-width: 100%;
    height: auto;
  }
}

.link {
  color: $indicator-color;
  text-decoration: none;
  font-size: $font-size-small; 

  &:hover {
    text-decoration: underline;
    color: $text-color-hover;
  }
}

.trailerflex {
  @include center-content;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}