

body {
    @include responsive-font($font-size-small);
}
@media (max-width: 768px) {
  h1.title  {
      font-size: 5px;
      padding: 5px;
      margin: 5px 0;
      white-space: normal;
    }
  
    .subtitle-2 {
      font-size: 2rem;
    }
  
 
  }
  
  @media (max-width: 480px) {
    h1.title  {
      font-size: 2rem;
      height: auto;
      padding: 10px;
      margin: 10px 0;
      white-space: normal;
    }
  
    .subtitle-2 {
      font-size: 1rem;
      white-space: normal;
    }
    @media (max-width: 768px) {
      .criticas-footer {
        .redcontainer {
          text-align: center;
     
        }

        .navega {
          flex-direction: column; 

          a {
            margin: 0.5rem 0; 
          }
        }
      }
    }
  }

  .pagina-noticias {
    footer {
      background-color: $primary-dark;
      color: $text-color-light;

      .container {
        .redcontainer {
          .Copyright {
            font-size: $font-size-xsmall;
          }

          .red {
            font-size: $font-size-small;
          }

          .navega {
            justify-content: center;
          }
        }
      }
    }
  }


  