$primary-color: #100746;
$primary-dark: #0f1417;
$secondary-color: #2ecc71; 
$text-color: #0b0909;
$text-color-hover: #cc2b2b;
$font-main: 'webroboto', sans-serif;
$font-heading: 'titulorubik', sans-serif;
$font-noti: 'Sniglet', system-ui;
$font-anton: 'Anton', sans-serif;
$font-new-amsterdam: 'New Amsterdam', sans-serif;
$font-size-large: 6rem;
$font-size-medium: 3rem;
$font-size-small: 1rem;
$font-size-xsmall: 0.75rem; 
$primary-light: lighten($primary-color, 20%);
$primary-dark: darken($primary-color, 90%);
$carousel-bg-color: #9b92af; 
$indicator-color: #d97e0f; 
$indicator-active-color: #b1c104; 
$text-color-light: #f1f1f1;

$carousel-img-height: 20rem; 
$indicator-bottom: 10px; 
$card-text-font-size: 1rem; 
$card-title-font-size: 1.25rem;
