$primary-color: #150137;
$primary-dark: #783b2f;
$secondary-color: #88908b; 
$text-color: #10002c;
$text-color-hover: #ddf100;
$font-main: 'webroboto', sans-serif;
$font-heading: 'titulorubik', sans-serif;
$font-noti: 'Sniglet', system-ui;
$font-anton: 'Anton', sans-serif;
$font-new-amsterdam: 'New Amsterdam', sans-serif;
$font-size-large: 6rem;
$font-size-medium: 3rem;
$font-size-small: 1rem;
$font-size-xsmall: 0.75rem; 
$primary-light: lighten($primary-color, 20%);
$primary-dark: darken($primary-color, 90%);
$indicator-color: #0a033d; 
$indicator-active-color: #b0ced1; 
$text-color-light: #060505;
$logo-size: 2rem;
$nav-link-font-size: 1rem;
$carousel-img-height: 20rem; 
$indicator-bottom: 10px; 
$card-text-font-size: 1rem; 
$card-title-font-size: 1.25rem; 